

<div class="container">
  <div class="row p-4">
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h2>Sign In</h2>
          </div>
        </div>

        <div class="card-body">
          <div class="form-group">
            <label for="username" class="form-check-label"><b>User Type</b></label>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="userType" value="Manager" [(ngModel)]="loginCredentials.userType">Manager
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="userType" value="Procurement" [(ngModel)]="loginCredentials.userType">Procurement
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="userType" value="SiteManager" [(ngModel)]="loginCredentials.userType">Site manager
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="userType" value="Supervisor" [(ngModel)]="loginCredentials.userType">Supervisor
            </label>
          </div>

          <div class="form-group mt-2">
            <label for="username"><b>Username</b></label>
            <input type="text" class="form-control" [(ngModel)]="loginCredentials.username">
          </div>

          <div class="form-group">
            <label for="password"><b>Password</b></label>
            <input type="password" class="form-control" [(ngModel)]="password">
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-outline-success" (click)="login()">Login</button>
          </div>

          <div class="alert alert-warning" *ngIf="userPassInvalid">
            Please enter correct username and password
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




