<p>manager-approvals works!</p>


<div class="p-3">

  <table class="table table-bordered">
    <tr>
      <th>Person Name</th>
      <th>User Role</th>
      <th>Assign Budget</th>
      <th>Contact Information</th>
      <th>Confirmation</th>
    </tr>
    <tr>
      <td>Mr. Kirul</td>
      <td>Seller</td>
      <td>$ 10,000</td>
      <td>kirul@gmail.com</td>
      <td>
        <button class="btn btn-outline-success">Approve</button>

        <button class="btn btn-outline-danger">Reject</button>
      </td>
    </tr>
  </table>

</div>
